<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Gestão de Coleções</title>
	</head>
	<body>
		<h1>Gestão de Coleções</h1>
		<h2>Lista de Itens da Coleção {{ c_name }}</h2>
		{% if collection_items_list %}
			<table>
			{% for collection_item in collection_items_list %}
			<tr>
				<td><a href = {{ page.url }}"/colecoes/{{ c_id }}/item/{{ collection_item.0 }}/" style = "font-weight: bolder; display: inline">
				{{ collection_item.1 }}</a></td> 
				<td>{{ collection_item.2 }}</td>
			</tr>
			{% endfor %}
			</table>
		{% endif %}
		<p><a href = {{ page.url }}"/colecoes/{{ c_id }}/item/new">Criar novo item nesta coleção</a></p>
		<p><a href = {{ page.url }}"/colecoes/">Voltar à lista de coleções</a></p>
	</body>
</html>