{% extends 'base.html' %}

{% load staticfiles %}
{% load app_filters %}

{% block title %}Detalhe da Coleção Nº <code>{{ collections_detail.0 }}</code>{% endblock %}
{% block subtitle %}Consulta dos detalhes da coleção {{ collections_detail.1 }} {% endblock %}


{% block main_body %}
<div class="form-group form-vertical">
	    <p><span class="col-sm-2" style = "font-weight: bolder; text-align:left;">Nome</span><span>{{ collections_detail.1 }}</span></p>
	    <p><span class="col-sm-2" style = "font-weight: bolder; text-align:left;">Tipo</span><span>{{ collections_detail.3 }}</span></p>
	    <p><span class="col-sm-2" style = "font-weight: bolder; text-align:left;">Descrição</span><span>{{ collections_detail.2 }}</span></p>
	    <div class="form-group tri_button_zone">
    		{# Só mostrar os links para gestão de coleções se o user pertencer ao grupo dos administradores#}
	  		{% if request.user|has_group:"site_admins" %}
			    <a class="btn btn-warning" href="/colecoes/{{ collections_detail.0 }}/update">Alterar coleção</a>
			    {# Só permite apagar se não existirem nem itens nem coleções de utilizador desta coleção#}
	  			{% if not collections_detail.0|has_children:"Collection" %}	    
			    <a class="btn btn-danger" href="/colecoes/{{ collections_detail.0 }}/delete" onclick="return confirm('Tem a certeza que pretende apagar a coleção {{collections_detail.1}}?')">Apagar coleção</a>
			    {% endif %}
		    {% endif %}
   			    <a class="btn btn-info" href="/colecoes/{{ collections_detail.0 }}/item/">Ver itens desta coleção</a>
			    <a style="padding-right: 40px"></a>
			    <a class="btn btn-primary" href={{ page.url }}"/colecoes">Voltar à página inicial</a>
		</div>		
		
{% endblock %}