{% extends 'base.html' %}

{% load staticfiles %}
{% load app_filters %}

{% block title %}Lista das Minhas Coleções{% endblock %}
{% block subtitle %}Aqui podes gerir as tuas coleções{% endblock %}


{% block main_body %}
		{% if user_collections_list %}
<div class="col-md-9">
<table class="table table-striped table-hover">
  <thead>
        <tr>
          <th>Nome</th>
          <th>Itens</th>
        </tr>
  </thead>
  <tbody>
			{% for user_collection in user_collections_list %}
			<tr>
				<th scope="row" ><a href = {{ page.url }}"/colecoes/user_col/{{ user_collection.0 }}" style = "font-weight: bolder; display: inline">{{ user_collection.1 }}</a></th>
				<td>{{ user_collection.2 }} de {{ user_collection.3 }} (coleção {% widthratio user_collection.2 user_collection.3 100 %}% completa)</td> 
			</tr>
			{% endfor %}
  </tbody>
</table>
		{% else %}
			<p>Ainda não tens nenhuma coleção?! Começa uma agora!</p>
		{% endif %}
		<div class="form-group tri_button_zone">
		  <a class="btn btn-warning" href="/colecoes/user_col/new">Adicionar coleção à minha lista</a>      
		  <a style="padding-right: 40px"></a>
		  <a class="btn btn-primary" href={{ page.url }}"/">Voltar à pagina inicial</a>
		</div>
			
{% endblock %}

</div>
